.input:focus {

}

.input {
    outline: none;
    /*border: 2px solid #208fa2;*/
    width: 300px;
    height: 30px;
}

.inputWrapper {

}

.superInput {
    outline: none;
    border: 2px solid black;
}

.errorInput {
    border: 2px solid red;
}

.errorInput:focus {
    border : 2px blue solid;
}

.error {
color : red;
}
