.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
    width: 60vw;
    border-bottom: solid grey 1px;
}

.rowHeader {
    width: 60vw;
    display: flex;
    background-color: darkgrey;
}

.loading {

}