.radio {
    accent-color: black;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;

}

.options {

}

.span {
    margin-left: 5%;
    padding: 5%;
    width: 15vh;
    font-family: Montserrat;
    font-weight: 800;
}
