.buttonsContainer {
    display: flex;
    gap: 5%;
}
.buttonsContainer SuperButton{
    border-radius: 10%;
}

.clock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.watch {
}

.watch strong {
}

.more {

    color : gray;
    font-weight: 100;
}