.greetingForm {
}

.inputAndButtonContainer {


}

.error {
    color: red;
}

.input {

    /*height: 25px;*/
    /*width: 250px;*/

}

.input:focus {
    /*font-family: 'Montserrat';*/
    /*font-style: normal;*/
    /*font-weight: 500;*/
    /*font-size: 16px;*/
    /*line-height: 20px;*/
    /*!* identical to box height *!*/


    /*color: #000000;*/
}

/*.errorInput {*/
/*    border: solid red 1px;*/
/*    height: 25px;*/
/*    width: 250px;*/
/*}*/

.button {

position: absolute;
    top: 37px;
    left: 260px;
    width: 70px;
    height: 25px;


    /* Primary/100 */

    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
}

.button:focus {
}

.button:active {

}

.button:disabled {
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {

}

